<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap" rel="stylesheet">
html { fontsize: 10px;}
body{
  background-color: rgb(255,255,255);
  font-family:'Lato', sans-serif;
   font-size: 1.4rem;
  line-height: 1.0;
  text-align: center;
  color: #081c0b;
  margin: 20px;
}
h1 {
  font-size: 4rem;
  margin-bottom: 0;
}
@media (max-width: 460px) {
  h1 {
    font-size: 3.5rem;
    line-height: 1.2;
  }
}

h4 {
  font-size: 2rem;
  text-align: center;
}
.content1{
  text-align: justify;
  line-height: 2.5;
}
a {
  color: #0c5212;
}

a:hover {
  color: rgba(20, 2, 173, 1);
}
#main {
  margin: 100px 100px;
  padding: 15px;
  border-radius: 25px;
  background-color: rgba(201, 154, 13, 0.08) !important;
}
@media (max-width: 460px) {
  #main {
    margin: 0;
  }
}
#ts{
 
}
img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}
#img-div {

  padding: 20x;
  margin: 0px;
}
#img-caption {
  margin: 15px 0 5px 0;
}
@media (max-width: 460px) {
  #img-caption {
    font-size: 1.4rem;
  }
}

#headline {
  margin: 30px 0;
  position: relative;
  top: 60px;
  text-align: center;
}
.content1{
  padding: 40px;
  text-align: justify;
}
.container {
  width: 100%;
  margin: 2rem auto;} 
.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, auto);
    grid-gap: 2px;
}
.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;} 
.gi1{ grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 6; }
.gi2{ grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 6;}
.gi3{  grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;}
.gi4{  grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 3;}
.gi5{ grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9;}
.gi6{ grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;}